<div class="row">
	<div class="col bg-warning">

		<div class="p-5 mb-5 bg-primary text-white">.bg-primary</div>
		<div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>

		<p class="text-danger bg-secondary">.text-primary</p>
		<p class="text-secondary">.text-secondary</p>
		<p class="text-success">.text-success</p>
		<p class="text-danger bg-warning">.text-danger</p>
	</div>
	<div class="col-md-6 bg-primary">
		<p class="text-warning">.text-warning</p>
		<p class="text-info bg-warning">.text-info</p>
		<p class="text-light bg-dark">.text-light</p>
	</div>
	<div class="col bg-success">
		<p class="text-dark bg-warning">.text-dark</p>
		<p class="text-muted">.text-muted</p>
		<p class="text-white p-4 bg-dark">.text-white</p>

		<div class="p-3 mb-5 bg-success text-black">.bg-success</div>
		<div class="p-3 mb-2 bg-info text-white">.bg-info</div>
	</div>

</div>