<header class="nav navbar ">
	filler content 
	<nav class="nav">
	    <%= link_to "Bats", bats_path, class: 'nav-link btn btn-success mx-3 px-5' %>

	    <%= link_to "Cats", cats_path, class: 'nav-link btn btn btn-warning mx-3 px-5' %>

	    <%= link_to "Dogs", dogs_path, class: 'nav-link btn btn-primary mx-3 px-5' %>
	</nav>
</header>